<a href="https://colab.research.google.com/github/thomasanna/python-entri/blob/main/Python_Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1:**

Create a function with a default argument
Write a program to create a function show_employee() using the following conditions.

It should accept the employee’s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary

In [ ]:
def show_employee(eName,eSalary=9000):
    """
    Function to display employee's name and salary.
    If salary is missing, default value 9000 is assigned.
    """
    print(f"Name : {eName} Salary : {eSalary}")

eName = "Ben"
eSalary = 12000
show_employee(eName,eSalary)

Name : Ben Salary : 12000

**Exercise 2**:

Create an inner function to calculate the addition in the following way
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [ ]:
def outer_function(a,b):
   def inner_function():
      return a+b
   addition = inner_function() + 5
   return addition
result = outer_function(2,3)
print(f"Result {result}")

Result 10

**Exercise 3:**

*Generate a Python list of all the even numbers between 4 to 30*

In [ ]:
evenNumbers = list(filter(lambda x:x%2==0,range(4,31)))
print(evenNumbers)
#The filter() function filters elements from the iterable range(4, 31) based on the lambda function provided.
#The lambda function lambda x: x % 2 == 0 checks if a number is even.
#filter() returns an iterator containing the elements for which the lambda function returns True.
#list() converts this iterator to a list, containing all the even numbers between 4 and 30.

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

**Exercise 4:**

*Lambda Function to Check if value is in a List*

Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.


Input  : L = [1, 2, 3, 4, 5]
          element = 4
Output :  Element is Present in the list

Input :  L = [1, 2, 3, 4, 5]
          element = 8
Output :  Element is NOT Present in the list

In [ ]:
lst = [1, 2, 3, 4, 5]
element = 4
check_value = lambda element,lst:element in lst
if check_value(element,lst):
  print(f"{element} is Present in the list")
else:
  print(f"{element} is not Present in the list")

4 is Present in the list

**Exercise 5:**

Sort list of tuples with their sum
Sort the points based on their sum of elements in the tuples

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [ ]:
points = [(1, 2), (5, 3), (0, 7), (3, 1)]
sorted_points = sorted(points,key=lambda x:sum(x))
#The sorted() function sorts the points list based on a custom sorting key.
#Each tuple x is passed to the lambda function, and sum(x) calculates the sum of elements in the tuple
print(sorted_points)

[(1, 2), (3, 1), (0, 7), (5, 3)]

**Exercise 6 :**

Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:
def is_even_digits(number):
  number = str(number)
  #For each number, it converts it to a string to iterate over its digits.
  #It uses a generator expression and the all() function to check if each digit of the number is even.
  return all(int(digit) % 2 == 0 for digit in number)

even_digit_numbers = list(filter(lambda x:is_even_digits(x),range(1000,3001)))
#We use filter() with a lambda function to filter numbers from range(1000, 3001) based on the condition defined in is_even_digits.
#filter() returns an iterator, so we convert it to a list to print the result.
print(even_digit_numbers)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

**Exercise 7 :**

Write a python function that accepts a sentence and calculate and return the number of letters and digits.

Suppose the following input is supplied to the program:

hello world! 123

Then, the output should be:

LETTERS 10

DIGITS 3

In [ ]:
def digit_letter_count(sentence):
  digits = sum(map(lambda x:x.isdigit(),sentence))
  letters = sum(map(lambda x:x.isalpha(),sentence))
  #we use the map() function along with lambda functions to apply the isalpha() and isdigit() methods to each character in the sentence.
  #The sum() function is used to count the number of True values returned by the lambda functions, which correspond to letters and digits.
  return digits,letters

sentence = "hello world! 123"
digits,letters = digit_letter_count(sentence)
print("LETTERS", letters)
print("DIGITS", digits)

LETTERS 10
DIGITS 3

**Exercise 8**

 MAP:
Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [ ]:
def convert_uppercase(sequence):
  upper_sequence = list(map(str.upper,sequence))
  #we use map() to convert all characters to uppercase and lowercase.
  unique_uppercase =set(upper_sequence)
  #Then, we convert all_chars to a set to eliminate duplicate characters.
  sorted_unique_uppercase =  ''.join(sorted(unique_uppercase,key=lambda x:upper_sequence.index(x)))
  #We then use the sorted() function with a custom key function. The key function takes each unique character x and returns its index in the original list all_chars.
  return sorted_unique_uppercase

  #Another Method using filter
  seen = set()
  def filter_func(char):
      if char in seen:
          return False
      seen.add(char)
      return True
  return ''.join(filter(filter_func, sequence.upper()))




def convert_lowercase(sequence):
  lower_sequence = list(map(str.lower,sequence))
  unique_lowercase = set(lower_sequence)
  sorted_unique_lowercase = ''.join(sorted(unique_lowercase,key=lambda x:lower_sequence.index(x)))
  return sorted_unique_lowercase

sequence = "helloWorld"
upper_result = convert_uppercase(sequence)
print(f"Sequence in uppercase {upper_result}")
lower_result = convert_lowercase(sequence)
print(f"Sequence in lowercase {lower_result}")

Sequence in uppercase HELOWRD
Sequence in lowercase helowrd

**Exercise 9**

MAP:

 Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [ ]:
def addLists(list1,list2):
  #addition of two lists
  sum= list(map(lambda x,y:x+y, list1,list2))
  #diffrence between two lists
  diffrence = list(map(lambda x,y:x-y, list1,list2))
  return sum, diffrence

list1 =[2,5,8,9]
list2 = [7,9,2,1]
sum,diffrence = addLists(list1,list2)
print(f"element wise sum : {sum}")
print(f"element wise diffrence : {diffrence}")

element wise sum : [9, 14, 10, 10]
element wise diffrence : [-5, -4, 6, 8]

**Exercise 10**

*Filter:*

Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.

Original Dictionary:

{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

Height> 6ft and Weight> 70kg:
{'Cierra Vega': (6.2, 71)}

In [ ]:
def filterStudents(students,height,weight):
   # print(students.items()) => dict_items([('Cierra Vega', (6.2, 71)), ('Alden Cantrell', (5.9, 65)), ('Kierra Gentry', (6.0, 68)), ('Pierre Cox', (5.8, 66))])
   # list of tuples

   filtered_items = dict(filter(lambda item:item[1][0] > height and item[1][1] > weight,students.items() ))
   #item => ('Cierra Vega', (6.2, 71))
   #item[1][0] => 6.2
   #item[1][1] => 71
   return filtered_items
students = {'Cierra Vega': (6.2, 71),
            'Alden Cantrell': (5.9, 65),
            'Kierra Gentry': (6.0, 68),
            'Pierre Cox': (5.8, 66)
           }
height = 6
weight = 70
filtered_students = filterStudents(students,height,weight)
print(f"Height> {height}ft and Weight> {weight}kg: ")
print(filtered_students)

Height> 6ft and Weight> 70kg:
{'Cierra Vega': (6.2, 71)}

**Exercise 11**

Filter:

Write a Python program to remove all elements from a given list present in another list using lambda.

Original lists:

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list2: [2, 4, 6, 8]

Remove all elements from 'list1' present in 'list2:

[1, 3, 5, 7, 9, 10]

In [ ]:
def filterList(list1,list2):
   return list(filter(lambda x: x not in list2, list1))

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]
result = filterList(list1,list2)
print(f"List 1 : {list1}")
print(f"List 2 : {list2}")
print(f"List1 after removing elements present in list2: {result}")

List 1 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List 2 : [2, 4, 6, 8]
List1 after removing elements present in list2: [1, 3, 5, 7, 9, 10]

**Exercise 12**

Reduce:


Write a Python program to calculate the product of a given list of numbers using lambda.

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Product of the said list numbers:

3628800

In [ ]:
from functools import reduce
def calculateProduct(list):
    """
    At first step, first two elements of sequence are picked and the result is obtained.
  • Next step is to apply the same function to the previously attained result and the number just
  succeeding the third element and the result is again stored.
  • This process continues till no more elements are left in the container.
  qa• The final returned result is returned and printed on console.
    """
    return reduce(lambda x,y : x*y,list)

list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = calculateProduct(list)
print(result)

3628800

**Exercise 13**

Reduce:


 Write a Python program to multiply all the numbers in a given list using lambda.

Original list:

[4, 3, 2, 2, -1, 18]

Mmultiply all the numbers of the said list: -864

In [ ]:
from functools import reduce
def multiply(list):
    """
    At first step, first two elements of sequence are picked and the result is obtained.
  • Next step is to apply the same function to the previously attained result and the number just
  succeeding the third element and the result is again stored.
  • This process continues till no more elements are left in the container.
  qa• The final returned result is returned and printed on console.
    """
    return reduce(lambda x,y : x*y,list)

list = [4, 3, 2, 2, -1, 18]
result = multiply(list)
print(result)

-864

**Exercise 14**

Reduce:


Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.

Original Tuple:

((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

Average value of the numbers of the said tuple of tuples:

(30.5, 34.25, 27.0)

In [ ]:
from functools import reduce

def calculate_average(numbers):

    # Use reduce with a lambda function to calculate the sum of each column
    #The zip() function returns a zip object, which is an iterator of tuples
    #where the first item in each passed iterator is paired together, and
    #then the second item in each passed iterator are paired together etc.
    column_sums = reduce(lambda x, y: tuple(map(sum, zip(x, y))), numbers)  #returns (122, 137, 108)
    # x = (10, 10, 10)  #take first two tuples and find the sum of first two elements of two tuples
    # y = (30, 45, 56)
    # zip(x,y)   => ((10,30),(10,45),(10,56))
    # print(tuple(map(sum, zip(x, y))))  #(40, 55, 66)
    # x = (40, 55, 66)
    # y = (81, 80, 39)
    # print(tuple(map(sum, zip(x, y)))) #(121, 135, 105)
    # x = (121, 135, 105)
    # y = (1, 2, 3)
    # print(tuple(map(sum, zip(x, y)))) #(122, 137, 108)

    # Calculate the average of each column
    num_tuples = len(numbers) #4

    average = tuple(map(lambda x: x / num_tuples, column_sums))
    return average

# Test the function
numbers = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
average = calculate_average(numbers)
print("Average value of the numbers of the tuple of tuples:", average)

Average value of the numbers of the tuple of tuples: (30.5, 34.25, 27.0)

**Exercise 15:**


Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.

Original list:

[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

Sort the said mixed list of integers and strings:

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [ ]:
list1 = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
#The lambda function lambda x: (isinstance(x, str), x) serves as the key function for sorting.
sorted_list = sorted(list1, key=lambda x: (isinstance(x, str), x))
#It first checks if the element x is an string using isinstance(x, str).
#This will evaluate to True if x is an string, and False otherwise.

#If x is a string, (isinstance(x, str), x) evaluates to (True, x),
# and if x is an int, it evaluates to (False, x).
print(sorted_list)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

**Exercise 16:**

Write a Python program to count the occurrences of items in a given list using lambda.

Original list:

[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

Count the occurrences of the items in the said list:

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [ ]:
original_list  = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
result = dict(map(lambda x:(x,original_list.count(x)) , original_list))
#map(lambda x: (x, original_list.count(x)), original_list) applies
#a lambda function to each element x in the original_list.
#The lambda function creates a tuple (x, original_list.count(x)),
# where x is the item from the original list and original_list.count(x)
#is the count of occurrences of x in the list.
print(f"the occurrences of the items in the said list: {result}")

the occurrences of the items in the said list: {3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

**Exercise 17:**


Write a Python program to remove None values from a given list using the lambda function.

Original list:

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

Remove None value from the said list:

[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [41]:
def filterList(list1):
   return tuple(filter(lambda x: x is not None, list1))
list1 = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
filtered_list = filterList(list1)

print(f"Remove None value from the said list:  {filtered_list}")

Remove None value from the said list:  (12, 0, 23, -55, 234, 89, 0, 6, -12)