<a href="https://colab.research.google.com/github/thomasanna/python-entri/blob/main/RegEx_task_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).

2. Write a Python program that matches a string that has an a followed by zero or more b's.

3. Replace only the first occurrence of 5 with five for the given string

In [ ]:
ip = 'They ate 5 apples and 5 oranges'

4. Write a Python program that matches a string that has an a followed by three 'b'.

5. Write a Python program that matches a string that has an 'a' followed by anything ending in 'b'.

6. Write a Python program to search for numbers (0-9) of length between 1 and 3 in a given string.

In [ ]:
txt="Exercises number 1, 12, 13, and 345 are important"

['1', '12', '13', '345']

7. Write a Python program to search for literal strings within a string.\
Sample text : 'The quick brown fox jumps over the lazy dog.' \
Searched words : 'fox', 'dog', 'horse'

8. Write a Python program to search for a literal string in a string and also find the location within the original string where the pattern occurs.

Sample text : 'The quick brown fox jumps over the lazy dog.' \
Searched words : 'fox'

9.  Write a Python program to extract year, month and date from an URL

In [ ]:
import re
url1= "https://www.washingtonpost.com/news/football-insider/wp/2016/09/02/odell-beckhams-fame-rests-on-one-stupid-little-ball-josh-norman-tells-author/"

('2016/09/02', '2016', '09', '02')

In [ ]:
import re
url1= "https://www.washingtonpost.com/news/football-insider/wp/2016/09/02/odell-beckhams-fame-rests-on-one-stupid-little-ball-josh-norman"
p=re.compile('\d{4}/\d{2}/\d{2}/')
print(p.findall(url1))

['2016/99/02/']

10. Write a Python program to find URLs in a string.

In [ ]:
text = '<p>Contents :</p><a href="https://w3resource.com">Python Examples</a><a href="http://github.com">Even More Examples</a>'

11. Write a Python program to remove the parenthesis area in a string.\

Sample data : ["example (.com)", "w3resource", "github (.com)", "stackoverflow (.com)"] \
Expected Output: \
example  \
w3resource \
github  \
stackoverflow. \

12. Write a Python program to concatenate the consecutive numbers in a given string. \

Original string:  \
Enter at 1 20 Kearny Street. The security desk can direct you to floor 1 6. Please have your identification ready.  \

After concatenating the consecutive numbers in the said string:  \
Enter at 120 Kearny Street. The security desk can direct you to floor 16. Please have your identification ready.